version: "3.9"

services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: app_dev
    ports:
      - "8080:8080"
    environment:
      APP_ENV: dev
    networks:
      - app-network
    volumes:
      - .:/app
    profiles:
      - dev

  app-prod:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: app_prod
    ports:
      - "8080:8080"
    environment:
      APP_ENV: prod
    networks:
      - app-network
    profiles:
      - prod

networks:
  app-network:
    driver: bridge